# Python bytecode and cache
__pycache__/
*.py[cod]
*.so

# Python packaging
*.egg
*.egg-info/
dist/
build/

# Virtual Environment
venv/

# IDE settings
.vscode/

# OS Files
.DS_Store

# Database files
*.db

# Large model folder
ce_45_DR-DME_model/
